<!DOCTYPE html>
<html>
    <head>
<% include ./partials/head.ejs %>
    </head>
    <body>


        <header>
            <% include ./partials/header.ejs%>
        </header>
        <div class="welcome">
        <h1>Welcome to Captains Log, Please Login or Sign Up</h1>
        </div>

    </body>
</html>
